* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(0, 28, 59);
}
.title {
  text-align: center;
  padding: 3rem;
  color: white;
  font-size: 5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 3px 0px #DA0463;
}
.container {
  display: inline-block;
  min-width: 100vw;
  min-height: 60vh;
  text-align: center;
  padding: 5rem;
 
}
.cursive{
  font-style: italic;
  text-decoration: line-through;
  color: #DA0463;
}
.footer{
  min-width: 100vw;
  text-align: center;
  color:white;
  font-size: 1.3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 2px 0px #DA0463;
}
.col {
  text-shadow: 2px 2px #404B69;
  margin: 1rem;
  margin-top: 5rem;
  color: #DA0463;
  text-align: center;
  width: 150px;
  height: 150px;
  background-color: white;
  border: 10px solid #404B69;
  border-radius: 10px;
  font-size: 5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.w{
  background-image: url(./images/crash.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55px;
}
.a{
 background-image:url(./images/kick.png);
 background-repeat: no-repeat;
 background-size: cover;
}
.s{
background-image: url(./images/snare.png);
background-size: 90px;
background-position:center;
background-repeat: no-repeat;
}
.d{
background-image: url(./images/tom1.png);
background-size: 120px;
background-position: center;
background-repeat:no-repeat;
}
.j{
  background-image: url(./images/tom2.png);
  background-size: 120px;
  background-position: center;
  background-repeat:no-repeat;
}
.k{
  background-image: url(./images/tom3.png);
  background-size: 90px;
  background-position: center;
  background-repeat:no-repeat;
}
.l{
  background-image: url(./images/tom4.png);
  background-size: 90px;
  background-position: center;
  background-repeat:no-repeat;
}
